@import "tailwindcss";

/* Simple horizontal navbar styles */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #000000;
}
nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li a:hover {
  background-color: #ffffff;
  color: #000000;
}
.rounded {
  border-radius: 110px;
  overflow: hidden;
  ;
}